<!DOCTYPE html>
<htmal lang="es">
    <head>
        <meta charset="UFT-8">
        <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
    <title>Contacto Carserv</title> 
    </head>
    <body>
        <header>
            <h1>Contacto</h1>
            <nav>   
             <ul>
              <li><a href="index.html">Inicio</a></li>
              <li><a href="index.html">Servicios</a></li>
              <li><a href="index.html">Nosotros</a></li>
              <li><a href="index.html">Contacto</a></li>
              <li><a href="index.html">Ubicación</a></li>
             </ul>
            </nav>
        </head>
        <main>
            <section>
                <h2>Información de contacto</h2>
                <p>Estamos ubicados en Cerro el plomo 6500, Las condes.
                  contactanos por télefono al +569 5003 4509 o
                   por correo electrónico a Carserv.info@gmail.com.
                </p>
            </section>
        </main>
        <footer>
            <p>&copy;2024 Carserv.Todos los derechos reservados.</p>
        </footer>
    </body>
    </html>    