<!DOCTYPE html>
<htmal lang="es">
    <head>
        <meta charset="UFT-8">
        <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title> 
    </head>
    <body>
        <header>
            <h1>Sobre Nosotros</h1>
            <nav>   
             <ul>
              <li><a href="index.html">Inicio</a></li>
              <li><a href="index.html">Servicios</a></li>
              <li><a href="index.html">Nosotros</a></li>
              <li><a href="index.html">Contacto</a></li>
              <li><a href="index.html">Ubicación</a></li>
             </ul>
            </nav>
        </head>
        <main>
            <section>
                <h2>Quienes Somos</h2>
                <p>Carserv es una empresa dedicada al mantenimiento y 
                   reparacion de automóviles,
                   comprometida con la calidad y el servicio al cliente</p>
            </section>
        </main>
        <footer>
            <p>&copy;2024 Carserv.Todos los derechos reservados.</p>
        </footer>
    </body>
    </html>    
